# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [43]:
import numpy
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [44]:
drinks = pd.DataFrame(pd.read_csv('/mnt/c/Users/flafe228/Desktop/all_documents/phd/courses/Advance_Python_Programming/Exercises/day5/exercise2/drinks.csv'))
print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [45]:

continental_data = drinks.groupby('continent')['beer_servings'].sum()
print(continental_data.sort_values())

continent
OC    1435
AS    1630
SA    2101
AF    3258
EU    8720
Name: beer_servings, dtype: int64

### Step 5. For each continent print the statistics for wine consumption.

In [46]:
continental_data = drinks.groupby('continent')['wine_servings'].sum()
print(continental_data.sort_values())

continent
AS     399
OC     570
SA     749
AF     862
EU    6400
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [47]:
cols = ['beer_servings','wine_servings','spirit_servings','total_litres_of_pure_alcohol']
average_continental_consumption = drinks.groupby('continent')[cols].mean()
print(average_continental_consumption)

           beer_servings  wine_servings  spirit_servings  \
continent
AF             61.471698      16.264151        16.339623
AS             37.045455       9.068182        60.840909
EU            193.777778     142.222222       132.555556
OC             89.687500      35.625000        58.437500
SA            175.083333      62.416667       114.750000

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [48]:
cols = ['beer_servings','wine_servings','spirit_servings','total_litres_of_pure_alcohol']
median_continental_consumption = drinks.groupby('continent')[cols].median()
print(median_continental_consumption)

           beer_servings  wine_servings  spirit_servings  \
continent
AF                  32.0            2.0              3.0
AS                  17.5            1.0             16.0
EU                 219.0          128.0            122.0
OC                  52.5            8.5             37.0
SA                 162.5           12.0            108.5

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [49]:
dataframe_spirit = drinks[['country','spirit_servings']]
dataframe_spirit = dataframe_spirit.set_index('country')
dataframe_spirit = dataframe_spirit.agg(['min','max','mean'])


print(dataframe_spirit)

      spirit_servings
min          0.000000
max        438.000000
mean        80.994819